*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(22.67,75%,76.47%);
}


.nav{
    gap: 15px;
    width: 40rem;
    height: 20vh;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 1px solid black; */
    border-radius: 10px 10px 0px 0px;
    background: linear-gradient(to right,hsl(20.65,78.15%,76.67%),  hsl(0,62.69%,62.16%));
}

.nav h4{
    padding: 20px;
}

.nav input{
    border: none;
    color: white;
    margin-left: 20px;
    padding: 10px 5px;
    border-radius: 20px;
    outline: 1px solid white;
    background-color: hsl(20.65,78.15%,76.67%);
}

.contacts{
    height: 70vh;
    width: 40rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

.contacts .contact{
    gap: 50px;
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.text-inputs{
    display: flex;
}